<div id="sidebar">
  <aside>
    <h2>PROFILE</h2>
    <p>
      <%= h(data.config.site_info.author) %> 
      <%= link_to("@" + h(data.config.site_info.twitter), "http://www.twitter.com/" + h(data.config.site_info.twitter)) if data.config.site_info.twitter %>
    </p>
    <p><%= h(data.config.site_info.description) %></p>
  </aside>
  <!-- ================ -->
  <aside>
    <h2>DIRECTORIES</h2>
    <ul>
      <% top_page().children.select {|r| r.path =~ /index\.html$/}.each {|res| %>
      <%= partial("partials/directory_recurse", locals: {resource: res}) %>
      <% } %>
    </ul>
  </aside>
  <!-- ================ -->
  <aside>
    <h2>TAGS</h2>
    <ul class="tag_box inline">
      <li>
	<% akcms.tags.each {|name, articles| %>
	<% size = articles.size %>
	<%= link_to("#{name}<span>#{size}</span>", akcms.proxy_resources(:tag)[name]) %>
	<% } %>
      </li>
    </ul>
  </aside>
  <!-- ================ -->
  <aside>
    <h2>RECENT</h2>
    <ul>
      <% akcms.articles.first(10).each {|page| %>
      <li> <%= link_to(page.title, page) %></li>
      <% } %>
    </ul>
  </aside>
  <!-- ================ -->
  <aside>
    <h2>MONTHLY ARCHIVES</h2>
    <ul>
      <% akcms.archives.each {|date_ym, _articles|%>
      <li> <%= link_to(date_ym.strftime("%b %Y"), akcms.proxy_resources(:archive)[date_ym]) %></li>
      <% } %>
    </ul>
  </aside>
    
</div>
