<div id="sidebar">
  <aside>
    <h2>PROFILE</h2>
    <p>
      <%= h(data.config.site_info.author) %> 
      <%= link_to("@" + h(data.config.site_info.twitter), "http://www.twitter.com/" + h(data.config.site_info.twitter)) if data.config.site_info.twitter %>
    </p>
    <p><%= h(data.config.site_info.description) %></p>
  </aside>
  <!-- ================ -->
  <aside>
    <h2>DIRECTORIES</h2>
    <ul>
      <% top_page().children.select {|r| r.path =~ /index\.html$/}.each {|res| %>
      <%= partial("partials/directory_recurse", locals: {resource: res}) %>
      <% } %>
    </ul>
  </aside>
  <!-- ================ -->
  <aside>
    <% if akcms.manipulators[:tag] %>
    <h2>TAGS</h2>
    <ul class="tag_box inline">
      <li>
	<% akcms.tag_resources.each {|name, res| %>
	<% size = akcms.tags[name].size %>
	<%= link_to("#{h(name)}<span>#{size}</span>", res) %>
	<% } %>
      </li>
    </ul>
    <% end %>
  </aside>
  <!-- ================ -->
  <aside>
    <h2>RECENT</h2>
    <ul>
      <% akcms.articles.first(10).each {|page| %>
      <li> <%= link_to(h(page.title), page) %></li>
      <% } %>
    </ul>
  </aside>
  <!-- ================ -->
  <% if akcms.manipulators[:archive] %>
  <aside>
    <h2>MONTHLY ARCHIVES</h2>
    <ul>
      <% akcms.archive_resources.each {|month, res|%>
      <li> <%= link_to(month.strftime("%b %Y"), res) %></li>
      <% } %>
    </ul>
  </aside>
  <% end %>
</div>
