<% wrap_layout :layout do %>

<article>
  <header>
    <h1><%= yield_content(:title) || h(current_resource.title) %></h1>
    <%= partial("partials/article_info", locals: { article: current_resource }) %>
    <!-- render_toc(current_resource)  -->
  </header>

  <div class="content numbering_headings">
    <%= yield %>
  </div>

  <footer>
    <%= partial("partials/pager") %>

    <% if current_resource.data.series %>
    <%= partial("partials/series") %>
    <% else %>
    <div class="references">
      <div class="header">
	Relevant Articles
      </div>
      <ul>
      <% current_resource.siblings.first(10).each do |res| %>
	<% next if ! res.is_article? %>
	<li><%= link_to(h(res.title), res) %></li>
	<% end %>
	<% if current_resource.siblings.size > 10 %>
      <li><%= link_to("...", current_resource.parent) %></li>
	<% end %>
      </ul>
    </div>
    <% end %>
  </footer>
</article>

<% end %>

