---
layout: layout
pagination: true
---

<!-- locals: date, articles -->

<% title = "Monthly Archives: " + date.strftime("%b %Y") %>

<% content_for :title do %>
<%= title %>
<% end %>

<h1><%= title %></h1>

<% if pagination %>
  <%= partial("partials/summary", locals: {articles: page_articles}) %>
  <%= partial("partials/pagination", locals: {articles: articles}) %>
<% else %>
  <%= partial("partials/summary", locals: {articles: articles}) %>
<% end %>
