---
layout: layout
pagination:
  per_page: 10
---

<!-- locals: name, short_name, articles -->

<% title = "Category: #{h(current_resource.locals[:display_name])}" %>
<% content_for :title do %>
<%= title %>
<% end %>

<h1><%= title %></h1>

<% if pagination %>
  <%= partial("partials/summary", locals: {articles: page_articles}) %>
  <%= partial("partials/pagination") %>
<% else %>
  <%= partial("partials/summary", locals: {articles: articles}) %>
<% end %>
